body {
	background-color: rgb(192, 199, 204);
	font-family: Anton;
}

.titles {
	font-family: Permanent Marker;
}

.fadein { position:relative; height:300px; z-index: -1; }
.fadein img { position:absolute; left:0; top:0; transition:opacity 20ms; opacity:1; }
.fadein img.is-hidden { opacity:0; }

.main {
	width: 650px;
	margin: 0 auto;
}

.playing {
	filter: invert(20%);
}
